<div class="container">
    <div class="row">
        <div class="column">
            <h3>Add event</h3>
        </div>
    </div>
    

    <div class="row ">
      <div class="col-md-12">
        <%= render 'form', event: @event %>
      </div>
    </div>
</div>
