<% content_for :page_title, 'Time Travel Testing' %>
<p></p>
<%= link_to "Manage customers", customers_path %>
<p></p>
<%= link_to "Manage scenarios", scenarios_path %>
<p></p>
<%= link_to "Manage tests", tests_path %>
<p></p>

